BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
ColumnLimit: 100
ContinuationIndentWidth: 4
IndentCaseLabels: false
IndentWidth: 4
PointerAlignment: Left
ReferenceAlignment: Left
UseTab: Never
